<div class="row">

	<!-- Item -->
	<div class="col-lg-3 col-md-6">
		<div class="dashboard-stat color-1">
			<div class="dashboard-stat-content"><h4><% current_user.items.where(status:'published').count %></h4> <span>Annonces en ligne</span></div>
			<div class="dashboard-stat-icon"><i class="fa fa-tags"></i></div>
		</div>
	</div>
	
	<!-- Item -->
	<div class="col-lg-3 col-md-6">
		<div class="dashboard-stat color-3">
			<div class="dashboard-stat-content"><h4></h4> <span>Note moyenne</span></div>
			<div class="dashboard-stat-icon"><i class="fa fa-star-half-alt"></i></div>
		</div>
	</div>

	<!-- Item -->
	<div class="col-lg-3 col-md-6">
		<div class="dashboard-stat color-2">
			<div class="dashboard-stat-content"><h4><% current_user.orders.count %></h4> <span>Objets recyclés</span></div>
			<div class="dashboard-stat-icon"><i class="fa fa-tags"></i></div>
		</div>
	</div>

	<!-- Item -->
	<div class="col-lg-3 col-md-6">
		<div class="dashboard-stat color-4">
			<div class="dashboard-stat-content"><h4></h4> <span>Vendeurs favoris</span></div>
			<div class="dashboard-stat-icon"><i class="fa fa-bookmark"></i></div>
		</div>
	</div>
</div>
