<!-- Titlebar -->
<div id="titlebar">
	<div class="row">
		<div class="col-md-12">
			<h2>Bienvenue
				<% if current_user.first_name? %>
                	<%= ' '+ current_user.first_name %>
				<% end %> !
            </h2>
			<!-- Breadcrumbs -->
			<nav id="breadcrumbs">
				<ul>
    				<li><%= link_to "Accueil", root_path %></li>
					<li><%= link_to "Mon profil", user_path(current_user.id) %></li>
					<li><%= link_to "Tableau de bord", user_path(current_user.id) %></li>
				</ul>
			</nav>
		</div>
	</div>
</div>


<div class="row">

	<!-- Item -->
	<div class="col-lg-3 col-md-6">
		<div class="dashboard-stat color-1">
			<div class="dashboard-stat-content"><h4><% current_user.items.where(status:'published').count %></h4> <span>Annonces en ligne</span></div>
			<div class="dashboard-stat-icon"><i class="fa fa-tags"></i></div>
		</div>
	</div>
	
	<!-- Item -->
	<div class="col-lg-3 col-md-6">
		<div class="dashboard-stat color-3">
			<div class="dashboard-stat-content"><h4>95</h4> <span>Note moyenne</span></div>
			<div class="dashboard-stat-icon"><i class="fa fa-star-half-alt"></i></div>
		</div>
	</div>

	<!-- Item -->
	<div class="col-lg-3 col-md-6">
		<div class="dashboard-stat color-2">
			<div class="dashboard-stat-content"><h4><% current_user.orders.count %></h4> <span>Objets recyclés</span></div>
			<div class="dashboard-stat-icon"><i class="fa fa-tags"></i></div>
		</div>
	</div>

	<!-- Item -->
	<div class="col-lg-3 col-md-6">
		<div class="dashboard-stat color-4">
			<div class="dashboard-stat-content"><h4>126</h4> <span>Vendeurs favoris</span></div>
			<div class="dashboard-stat-icon"><i class="fa fa-bookmark"></i></div>
		</div>
	</div>
</div>


<div class="row">
	
	<!-- Recent Activity -->
	<div class="col-sm-12">
		<div class="dashboard-list-box with-icons margin-top-20">
			<h4>Activités récentes</h4>
			<ul>
				<li>
					<i class="list-box-icon sl sl-icon-layers"></i> Your listing <strong><a href="#">Hotel Govendor</a></strong> has been approved!
					<a href="#" class="close-list-item"><i class="fa fa-close"></i></a>
				</li>
			</ul>
		</div>
	</div>
</div>

