<!-- Info Section -->
<div class="container" data-turbolinks="false">

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="headline centered margin-top-80">
				Un geste pour vous et la planète !				
			</h2>
		</div>
	</div>

	<div class="row icons-container">
		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2 with-line">
				<i class="fab fa-pagelines"></i>
				<h3>Valoriser vos déchets</h3>
				<p>Vos déchets sont des ressources pour d'autres. Avec KraftMarket, trouver les personnes qui sauront les exploiter. Et pourquoi pas créer des objets qui décoreront votre boutique ?</p>
			</div>
		</div>

		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2 with-line">
				<i class="fas fa-user-tie"></i>
				<h3>Travaillez entre pros, dans votre quartier</h3>
				<p>Avec KraftMarket, vous avez à faire à des professionnels qui comprennent vos besoins et vous garantissent une facturation simple.</p>
			</div>
		</div>

		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2">
				<i class="fas fa-recycle"></i>
				<h3>Devenez acteur de l'économie circulaire</h3>
				<p>Vous rendez service en valorisant ce qui vous encombre : de talentueux artisans se serviront de vos ressources pour leurs prochaines créations</p>			
			</div>
		</div>
	</div>

	<div class="banner_button">
		<%= link_to new_item_path do%>
			<button class="button-banner">Je deviens ravitailleur</button>
		<% end %>
	</div>

</div>
<!-- Info Section / End -->