<!-- Info Section -->
<div class="container">

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="headline centered margin-top-80">
				Un geste pour vous et la planète !
				
			</h2>
		</div>
	</div>

	<div class="row icons-container">
		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2 with-line">
				
				<i class="fas fa-dollar-sign"></i>
			
				<h3>Gagner de l'argent</h3>
				<p>Vos produits ont une valeur.<br> Kraft-Market vous aide à trouver les personnes qui sauront exploiter ces matières.</p>
			</div>
		</div>

		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2 with-line">
				<i class="fas fa-user-tie"></i>

				<h3>Une plateforme pour des pros</h3>
				<p>Avec Kraft-Market, adressez-vous à des artisans qui cherchent la même chose que vous: <br><strong>le professionalisme</strong></p>
			</div>
		</div>

		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2">
				<i class="fab fa-pagelines"></i>

				<h3>Acteur de l'économie circulaire</h3>
				<p>Valorisez ce qui ne vous encombre en donnant l'occasion à des <strong>artisans talentueux</strong> de développer leur activité</p>
			</div>
		</div>
	</div>

</div>
<!-- Info Section / End -->