<div class="seller-search-container">
	<div class="seller-search-inner" >
		<div class="container" >
			<div class="row" >
				<div class="col-md-12" >
					<h2 id="banner_h2">Proposez les ressources <br> dont vous ne vous servez pas</h2>
					<div class="banner_button">			
					 <button class="button-banner" onclick="window.location.href='./items/new' ">Publier mon annonce</button>
					 </div>
				</div>
			</div>
		</div>
	</div>
</div>