<div class="seller-search-container">
	<div class="seller-search-inner" >
		<div class="container" >
			<div class="row" >
				<div class="col-md-12" >
					<h2 id="banner_h2">Devenez acteur de l'économie circulaire !</h2>
					<div class="banner_button">			
					 <button class="button" onclick="window.location.href='./items/new' ">Je valorise mes coproduits</button>
					 </div>
				</div>
			</div>
		</div>
	</div>
</div>