<!-- Banner
================================================== -->
<div class="seller-search-container" style="background: linear-gradient(165deg, rgba(0, 101, 168, 0.849) 0%, rgba(0,36,61,0.6) 20%), url(image-path('photo07.jpg'))">


<!--style="background: url('<%= image_path('artisan/photo07.jpg') %>'), linear-gradient(#eb01a5, #d13531);; background-repeat: no-repeat; background-size: cover; background-position: 50%;	"-->

	<div class="seller-search-inner" >
		<div class="container" >
			<div class="row" >
				<div class="col-md-12" >
					<h2 id="banner_h2">Devenez acteur de l'économie circulaire !</h2>
					<div class="banner_button">			
					 <button class="button" onclick="window.location.href='./items/new' ">Je valorise mes coproduits</button>
					 </div>
				</div>
			</div>
		</div>
	</div>
</div>


