<!-- Section Photos -->
<div class="add-listing-section margin-top-45">
	<div class="add-listing-headline">
		<h3><i class="sl sl-icon-picture"></i> Galerie photos</h3>
	</div>

	<!-- Dropzone -->
	<div class="submit-section">
		<span class="dropzone" ><%= f.file_field :item_images, multiple: true %></span>
		<p class='font-weight-light'>
			Téléchargez une ou plusieurs photos, pour donner confiance aux artisans qui réutiliseront ces matières premières.
		</p>
	</div>
</div>