<div class="add-listing-section">

	<div class="add-listing-headline">
		<h3><i class="far fa-file-alt"></i> Informations essentielles</h3>
	</div>

	<div class="row with-forms">
		<div class="col-md-8">
			<h5>Nom de l'article<i class="tip" data-tip-content="Soyez concis avec 2-3 mots dans le titre"></i></h5>
			<div class="search-field"><%= f.text_field :title, required:true %></div>
		</div>

		<div class="col-md-4">
			<h5>Catégorie</h5>
			<%= f.collection_select :category_id, Category.all, :id, :category_name, include_blank: true %>
		</div>
	</div>

	<div class="row with-forms">
		<div class="col-md-12">
			<h5>Description<i class="tip" data-tip-content="Décrivez précisément l'article: provenance et utilisation de la matière première, taille, nombre de pièces, dimensions principales : épaisseur, longueur..."></i></h5>
			<span class="WYSIWYG"><%= f.text_area :description, required:true, rows:"3" %></span>
			<p class='font-weight-light'>
				Donnez le maximum de détails pour maximiser la confiance des artisans et vous éviter des questions de leur part.</p>
		</div>
	</div>

	<div class="row with-forms">
		<div class="col-md-4">
		<h5>Prix de vente</h5>
		<div class="search-field"><%= f.text_field :price, required:true %></div>	
		</div>
	</div>
</div>
