<aside class="" id='profile-tabs'>
  <ul class="nav nav-tabs flex-column">

	    <!-- Tab to display user items -->
	    <li class="nav-item" ><a class="nav-link tab-link active" role='tab' data-toggle="tab" href='#seller' id='seller-tab' aria-controls="seller" aria-selected="true" >Annonces</a></li>

	    <!-- Tab to display user orders -->
      	<li class="nav-item" ><a class="nav-link tab-link" role='tab' data-toggle="tab" href='#buyer' id='buyer-tab' aria-controls="buyer" aria-selected="false" >Achats</a></li>

	    <!-- Tab to display user info and modification forms -->
      	<li class="nav-item" ><a class="nav-link tab-link" role='tab' data-toggle="tab" href='#profile-info' id='profile-info-tab' aria-controls="profile-info" aria-selected="false" >Infos personnelles</a></li>
  </ul>
</aside>