<div class='row'>
	<div class='col-3'>
  		<%= render 'profile_tabs' %>
  	</div>
  	<div class="tab-content col-9">
  		<%= render 'profile_info' %>
  		<%= render 'buyer_profile' %>
  		<%= render 'seller_profile' %>
	</div>
</div>