.navbar{
	min-height: 70px;
	font-family: -apple-system, BlinkMacSystemFont,
    “Segoe UI”, “Roboto”, “Oxygen”,
    “Ubuntu”, “Cantarell”, “Fira Sans”,
    “Droid Sans”, “Helvetica Neue”, sans-serif;;
}

.nav-item{
	font-size: 16px;
	font-weight: 100;
	padding-right: 10px;
	padding-left: 10px;
	text-decoration: none;
	display: block;
  position: relative;
  opacity: 0.75;
}		



.nav-item:hover {
  opacity: 1;
}

.nav-item::before {
  transition: 300ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: #368f62;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 5px;
}

.nav-link-ltr:hover::before {
  width: 85%;
}


nav .navbar-nav li a{
  color: black !important;
  text-decoration: none;
  }

.btn-outline-primary.custom-btn{
  border-color: #368f62;
  font-size: 16px;
  border-radius: 40px;
  padding: 5px 10px;
  margin-top: 8px;
}


.nav-link{
  margin-top: 8px;
}

.btn-outline-primary.custom-btn:hover{
  background-color: #368f62; 
}


.cart-icon{
	color: #368f62;
}

.navbar-collapse {
  margin-right: 50px;
}

.d-flex{
  margin-left: 50px;
}

.dropdown-menu {
  font-size:14px;
}


