.navbar{
	min-height: 70px;
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom:0 !important;
  padding-top:0 !important;
}

.nav-item{
	font-size: 15px;
	font-weight: 100;
	padding-right: 10px;
	padding-left: 10px;
	text-decoration: none;
	display: block;
  position: relative;
  opacity: 0.75;
  margin-top:auto;
  margin-bottom:auto;
}		

.nav-item:hover {
  opacity: 1;
}

.nav-item::before {
  transition: 300ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: #378F62;
}


nav .navbar-nav li a{
  color: black !important;
  text-decoration: none;
  }

header .left-part {
  height:100%;
  display:flex;
  align-items:center;
}

@media (max-width: 992px) {
  .left-part {
    display:flex;
    flex-direction:row-reverse;
  } 

  .navbar-collapse {
  margin-top: 11px;
  }
}

@media (min-width: 992px) {
  .vertical-separator {
    border-left: 1px solid #000;
    margin: 8px 5px;
  }
}


.nav-item2 li a:hover{
  color: white !important;
  text-decoration: none;
}

.sticky-top{
  position: fixed;
  top: 0;
  width: 100%
}

nav .navbar-nav li .header-cta {
  margin-right: 0;
  color: #fff !important ;
}

.nav-icon {
  font-size: 18px;
}