<footer id="footer" class="green-footer">
	<!-- Main -->

	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-12">
				<h4>Artisans,</h4>
				<ul class="footer-links">
					<li>Sourcez des matières premières uniques et originales pour vos créations</li>
					<li><%= link_to "Découvrir les ressources disponibles...", items_path %></li>
				</ul>
			</div>

			<div class="col-md-4 col-sm-12">
				<h4>Commerçants locaux,</h4>
				<ul class="footer-links">
					<li>Valorisez vos déchets et le savoir-faire des artisans en redécorant votre boutique</li>
					<li><%= link_to "Commencer à recycler mes coproduits...", new_item_path %></li>
				</ul>
			</div>

			<div class="col-md-4 col-sm-12">
				<h4>En savoir plus</h4>
				<ul class="footer-links">
					<li>Posez-nous vos <%= link_to "questions ici", new_contact_path %></li>
					<li>Découvrez l'aventure <%= link_to "Kraft Market ici", about_path %></li>
					<li>Paiements sécurisés via <i class="fab fa-stripe fa-2x"></i></li>
				</ul>
			</div>
		</div>
	</div>
</footer>		







	