<!-- Footer
================================================== -->
<div id="footer" class="dark">
	<!-- Main -->
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-6">
				<img class="footer-logo" src="images/logo2.png" alt="">
				
				<h4>Our story</h4>			
				<p>Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies	 laoreet ullamcorper phasellus semper.</p>
			</div>

			<div class="col-md-4 col-sm-6 ">
				<h4>About us</h4>
				<ul class="footer-links">
					<li><%= link_to "Team", about_path %></li>
					<li><%= link_to "Contact us", about_path %></li>
				</ul>

				<div class="clearfix"></div>
			</div>		

			<div class="col-md-3  col-sm-12">
				<h4>Find us</h4>
				<div class="text-widget">
					<span> Felicita, 75013 Paris </span> <br>
					Call us: <span>(123) 123-456 </span><br>
					Email us : <span> <a href="#">office@example.com</a> </span><br>
				</div>

				<ul class="social-icons margin-top-20">
					<li><%= link_to '/#', class:"fab fa-facebook-square" do %><i class="fab fa-facebook-square"></i><% end %></li>
					<li><a class="twitter" href="#"><i class="fa fa-twitter-square"></i></a></li>
					<li><a class="gplus" href="#"><i class="fa fa-instagram"></i></a></li>
					<li><a class="vimeo" href="#"><i class="fa fa-envelope"></i></a></li>
				</ul>
			</div>
		</div>
	</div>

		
		<!-- Copyright -->
		<div class="row">
			<div class="col-md-12">
				<div class="copyrights">Made in love with Paris. </br> No, kidding. Outsourced to some indians folks like everyone.</div>
			</div>
		</div>
</div>
