<!-- Footer
================================================== -->
<div id="footer" class="dark">
	<!-- Main -->
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-6">				
				<h4>A propos de KraftMarket</h4>			
				<ul class="footer-links">
				 <span> Faire rencontrer les déchets et l'artisanat, c'est avec ce défi un peu fou qu'on a lancé KraftMarket.<br> Avec la volonté de redonner une soconde vie à des matières premières originales et locales. </span>
				</ul>
			</div>
			<div class="col-md-4 col-sm-6 ">
				<h4>Des questions ? </h4>
				<ul class="footer-links">					
				<li> Posez-nous toutes vos <b><%= link_to "questions ici", new_contact_path %>.</b></li>
				<li> Faites un coucou à <b><%= link_to "l'équipe ", about_path %>.</b></li>		
				</ul>
			</div>		
			<div class="col-md-3  col-sm-12">
				<h4>Livraison</h4>
					<div class="text-widget">
				<ul class="footer-links">					
				<li> Paiement sécurité	</li>
				<li> Service pro </li>		
				</ul>
				</div>	
			</div>
		</div>
	</div>
</div>
