<div class="mfp-bg my-mfp-zoom-in mfp-ready"></div>
<div class="mfp-wrap mfp-close-btn-in mfp-auto-cursor my-mfp-zoom-in mfp-ready" tabindex="-1" style="top: 0px; position: absolute; height: 594px;"><div class="mfp-container mfp-inline-holder"><div class="mfp-content"><div id="sign-in-dialog" class="zoom-anim-dialog">

				<div class="small-dialog-header">
					<h3>Sign In</h3>
				</div>

				<!--Tabs -->
				<div class="sign-in-form style-1">

					<ul class="tabs-nav">
						<li class="active"><a href="#tab1">Log In</a></li>
						<li><a href="#tab2">Register</a></li>
					</ul>

					<div class="tabs-container alt">

						<!-- Login -->
						<div class="tab-content" id="tab1" style="">
							<form method="post" class="login">

								<p style="color: black;">Vous avez déjà un objet réservé ! Veuillez finaliser votre commande ou l'annuler.</p>

								<div class="form-row">
                                    <%= link_to 'Continuer', root_path, class: "btn-modal button fullwidth margin-top-10" %>
                                    <%= link_to 'Finaliser ma commande', cart_path(current_user.cart.id), class: "btn-modal button fullwidth margin-top-10" %>
								</div>
								
							</form>
						</div>

						<!-- Register -->
						<div class="tab-content" id="tab2" style="display: none;">

							<form method="post" class="register">
								
							<p class="form-row form-row-wide">
								<label for="username2">Username:
									<i class="im im-icon-Male"></i>
									<input type="text" class="input-text" name="username" id="username2" value="">
								</label>
							</p>
								
							<p class="form-row form-row-wide">
								<label for="email2">Email Address:
									<i class="im im-icon-Mail"></i>
									<input type="text" class="input-text" name="email" id="email2" value="">
								</label>
							</p>

							<p class="form-row form-row-wide">
								<label for="password1">Password:
									<i class="im im-icon-Lock-2"></i>
									<input class="input-text" type="password" name="password1" id="password1">
								</label>
							</p>

							<p class="form-row form-row-wide">
								<label for="password2">Repeat Password:
									<i class="im im-icon-Lock-2"></i>
									<input class="input-text" type="password" name="password2" id="password2">
								</label>
							</p>

							<input type="submit" class="button border fw margin-top-10" name="register" value="Register">
	
							</form>
						</div>

					</div>
				</div>
			<button title="Close (Esc)" type="button" class="mfp-close"></button></div></div></div></div>