<p>Détail de votre panier</p><br>

<p>Nom du produit:</p>
<p>Quantité:</p>
<p>Prix:</p>

<p>Mode de livraison</p>
<input type="checkbox" name="Remise en mains propres">
<input type="checkbox" name="Livraison à domicile">

