<!DOCTYPE html>
<body>
<!-- Wrapper -->
<div id="wrapper">

<!-- Content
================================================== -->

<!-- Info Section -->
<div class="container">

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="headline centered margin-top-80">
				Rien ne se perd, si l'on créé, tout se transforme ! 
				<span class="margin-top-25">C'est avec la maxime de Lavoisier en tête qu'Hugo a lancé Kraft Market avec des amis. Après avoir vu un sac à café venant du Brésil traîner dans le coin d'une boutique, il l'a récupéré et donné à des tapissiers qui en ont fait de magnifiques objets : sacs, miroirs, coussins... Kraft Market est né ! Pourquoi ne pas aider les boutiques ou ateliers qui ne font rien de belles matières premières (cuir, toile de jute, tissu...) à les fournir à des artisans ou artistes pour leurs créations ?</span>
			</h2>
		</div>
	</div>

	<div class="row icons-container">
		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2 with-line">
				<i class="im im-icon-Map2"></i>
				<h3>Recycler de belles matières</h3>
				<p>Nous trouvions dommage que de belles matières premières soient jetées au lieu d'avoir la deuxième qu'elles méritaient.</p>
			</div>
		</div>

		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2 with-line">
				<i class="im im-icon-Mail-withAtSign"></i>
				<h3>Mettre en contact</h3>
				<p>Nous mettons donc en contact les boutiques et ateliers de votre quartier avec les artistes et artisans.</p>
			</div>
		</div>

		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2">
				<i class="im im-icon-Checked-User"></i>
				<h3>Réserver et se faire livrer</h3>
				<p>Vous pouvez vendre et acheter en ligne ces belles matières premières, puis choisir le mode de livraison.</p>
			</div>
		</div>
	</div>

</div>
<!-- Info Section / End -->

<!-- Slider -->
<div class="listing-slider mfp-gallery-container margin-bottom-0">
	<a href="images/coffee-shop.jpg" data-background-image="images/coffee-shop.jpg" class="item mfp-gallery" title="Coffee shop"></a>
	<a href="images/jute-coussin.jpg" data-background-image="images/jute-coussin.jpg" class="item mfp-gallery" title="Toile de jute"></a>
	<a href="images/papeterie.jpg" data-background-image="images/papeterie.jpg" class="item mfp-gallery" title="Papeterie"></a>
	<a href="images/origami.jpg" data-background-image="images/origami.jpg" class="item mfp-gallery" title="Origami"></a>
	<a href="images/cave_caisse_bois.jpg" data-background-image="images/cave_caisse_bois.jpg" class="item mfp-gallery" title="Origami"></a>
</div>
<!-- Slider / End -->

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

</div>
<!-- Wrapper / End -->

</body>
</html>