PAGE HOME_BUYER

<div class="category_card">
    <%= link_to 'Catégorie Bois', index_category_path(1) %>
</div> 
<div class="category_card">
</div> 
<div class="category_card">
    <%= link_to 'Catégorie Papier', index_category_path(2) %>
</div>
<div class="category_card">
    <%= link_to 'Catégorie Tissu', index_category_path(3) %>
</div>
