<%= render "static/seller/home_banner"%>
<%= render "static/seller/home_usp"%>
<%= render "static/seller/home_testimony"%>


<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>




