<div  id="wrapper" class='container'>
	<div class="row margin-bottom-25">

	    <!-- Rendering filters in a sidebar -->
	    <%= render 'items/item_index/sidebar_index' %>

	    <div class="col-lg-10 col-md-9 padding-left-30">
	        <% @item_selection.each_with_index do |item, i| %>

	            <!-- Rendering each item in a card -->
	            <%= render 'items/item_index/item_card', item:item, i:i %>

	        <% end %>
	    </div>
	</div>
</div>