<!-- Info Section -->
<div class="container" data-turbolinks="false">

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="headline centered margin-top-80">
				Un geste pour vous et la planète !
			</h2>
		</div>
	</div>

	<div class="row icons-container">
		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2 with-line">
				<i class="fab fa-pied-piper-hat"></i>
				<h3>Chinez de belles matières premières, dans votre quartier</h3>
				<p>Les ravitailleurs de Kraft Market vous proposent leurs chutes et matières premières inusitées : cuir, toile de jute, papier... Nous vous proposons les plus proches de chez vous.</p>
			</div>
		</div>

		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2 with-line">
				<i class="fas fa-recycle"></i>
				<h3>Devenez acteur de l'économie circulaire</h3>
				<p>Rien ne se perd, si l'on crée, tout se transforme ! Les chutes et déchets de nos ravitailleurs deviennent les matières premières de vos créations.</p>
			</div>
		</div>

		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2">
				<i class="fas fa-location-arrow"></i>
				<h3>Travaillez entre pros, dans votre quartier</h3>
				<p>Les ravitailleurs sont des professionnels comme vous (boutiques, ateliers...) et comprennent vos besoins. Cela vous garantit un sourcing de qualité et une facturation simple.</p>
			</div>
		</div>
	</div>

	<div class="banner_button">
		<%= link_to items_path do%>
			<button class="button-banner">Cliquez ici !</button>
		<% end %>
	</div>

</div>
<!-- Info Section / End -->