<div class="main-search-container">
	<div class="main-search-inner">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 id="banner_h2">  <br> pour votre prochain projet</h2>
					<div class="banner_button">
						<%= link_to items_path do%>
							<button class="button-banner">Voir les ressources</button>
						<% end %>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>

