<div class="add-listing-section w-100 padding-bottom-0">
  <div class="add-listing-headline margin-bottom-0  d-flex justify-content-center ">

    <!-- Stripe script permitting payment and creating order -->
    <script src="https://checkout.stripe.com/checkout.js" 
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
      data-description="Commande de <%= @cart_item.title %>"
      data-amount="<%= (@cart_item.price) * 100 %>"
      data-currency="eur"   
      data-locale="auto"
      data-label="Confirmer ma commande"
      method='create'>

    </script>
    <br>

    <%= f.submit 'Confirmer ma commande', method:'create', class:'stripe-button' %>

  </div>
</div>