<!-- Titlebar -->
<div id="titlebar" class="gradient padding-top-20 margin-bottom-20">
	<div class="container">
		<div class="row d-flex justify-content-between">
			<div class='col-md-6 col-sm-12'>
				<h2><i class="fa fa-shopping-cart"></i>    Ma réservation</h2>
			</div>

			<!-- Breadcrumbs -->
			<div class='col-md-6 col-sm-12'>
				<nav id="breadcrumbs">
					<ul>
						<li><%= link_to "Accueil", root_path %></li>
						<li><%= link_to "Mon compte", user_path(current_user.id) %></li>
						<li>Ma réservation</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>