// nav button
a.button.border {
    color: #f91942;
    border-color: #f91942;
}


a.button.border {
    font-weight: 500;
}

a.button.border {
    background-color: transparent;
    color: #66676b;
    border: 1px solid #66676b;
    padding: 9px 21px;
    }

a.button.border, a.button {
    background-color: #66676b;
    top: 0;
    padding: 9px 20px;
    color: #fff;
    position: relative;
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-right: 6px;
    overflow: hidden;
    border: none;
    border-radius: 50px;
}