 .main-search-container {
	 background: linear-gradient(165deg, rgba(0, 101, 168, 0.849) 0%, rgba(0,36,61,0.6) 5%), url(asset-path("artisan/photo27.jpg"));
}

#banner_h2{
	text-align: center;
	padding-top: 200px;
	color: white;
}

#banner_h4{
	text-align: center;
}

.banner_button{
	text-align: center;	
	padding-top: 30px;
}