/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-grid
 *= require icons
 *= require style
 *= require plugins/revolutionslider
 *= require font-awesome

 */

*{
	font-family: -apple-system, BlinkMacSystemFont,
    “Segoe UI”, “Roboto”, “Oxygen”,
    “Ubuntu”, “Cantarell”, “Fira Sans”,
    “Droid Sans”, “Helvetica Neue”, sans-serif;
}

.devise_signin{
	margin: 80px auto;
	max-width: 400px;
}

.devise_signup{
	margin: 80px auto;
	max-width: 400px;
}


.checkobox_row{
	padding-bottom: 10px;
}

a:hover {
	text-decoration:none;
}


.flash-message {
	margin-bottom: 0px;
}


#footer.green-footer {
	background: #368f62;
	color: #fff;
	z-index:998;
}

#footer.green-footer a,
#footer.green-footer h4,
#footer.green-footer a:hover {
	color: #fff;
	font-weight: bold;
}

#footer.green-footer .text-widget,
#footer.green-footer .text-widget span,
#footer.green-footer .footer-links li a {
	color: #fff;
}

html, body {
	height:100%;
}

///// LINK TO PROFILE PUBLIC

.green-link {
	color: #378F62 !important;
	font-weight: bold;
	opacity:0.85;
}

.green-link:hover {
	text-decoration: none;
	color: rgb(0, 71, 35);
	opacity:1;
}

.cancel-button {
	background:#fff !important;
	border:1px #378F62 solid !important;
	color: #378F62 !important;
}

.cancel-button:hover {
	background:#dc3545 !important;
	border: 1px #dc3545 solid !important;
	color: #fff !important;
}

///// HOVER LINK IN THE FOOTER PAGE
