// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.empty-cart-container {
	 margin-bottom: 25px !important;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 padding: 25px;
}

.empty-cart-container h3 {
	padding-bottom:20px;
}

